{% extends 'base.html' %}

{% block content %}

<section class="container-sm">
    <h3 class="text-center mt-3 mb-3">{% block title %}Ingresar Categoría de productos{% endblock %}</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="codigo">Código</label>
            <input type="text" class="form-control" id="codigo" name="codigo" required maxlength="6">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required maxlength="100">
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="esta_activo" name="esta_activo" checked>
            <label class="form-check-label" for="esta_activo">Activo</label>
        </div>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a href="{{ url_for('categoria_producto.index')}}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</section>
{% endblock%}