{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<section class="container-fluid">
    <nav class="navbar">
        <h1>{% block title %}Lista de Categorías de Productos{% endblock %}</h1>
        <a href="{{url_for('categoria_producto.create')}}" class="btn btn-success">Nuevo</a>
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th class="col">Código</th>
            <th class="col">Nombre</th>
            <th class="col" colspan="2">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for dato in datos | reverse %}
        <tr>
            <td>
                <h5>{{dato.codigo}}</h5>
                <p>{{dato.nombre}}</p>
            </td>
            <td><a href="{{url_for('categoria_producto.update', id = dato.id)}}" class="btn btn-info btn-sm">Editar</a></td>
            <td><a href="{{url_for('categoria_producto.delete', id = dato.id)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{{macros.render_pagination(datos,'categoria_producto.index')}}


</section>


{% endblock%}