<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
  <style>
    .btn-box {
      width: 200px;
      height: 75px;
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/logo.png')}}" height="60px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if g.user %}
                <li class="nav-item">
                    <span class="nav-link active">{{ g.user.nombre }}</span>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logout')}}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% for message in get_flashed_messages() %}
<div class="container-sm mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
</div>
{% endfor%}

<script src="{{url_for('static',filename='js/bootstrap.bundle.js')}}"></script>
</body>
</html>