{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container-sm text-center">
    <h1 class="display-5">MRP II0703</h1>
    <h2 class="display-7">Planificación de los requerimientos de material</h2>

    <hr class="my-4">
    {% if g.user %}
    <div class="accordion border-bottom-0">

        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Clientes y Proveedores</h3></div>
            </summary>
            <div class="accordion-body border-bottom">



                <div class="row my-2 h-100">
                    <div class="col-6">
                        <a href="{{url_for('cliente.index')}}"
                           class="btn btn-primary d-block h-100">
                            Clientes
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('proveedor.index')}}"
                           class="btn btn-primary btn-block d-block h-100">
                            Proveedores
                        </a>
                    </div>
                </div>
            </div>
        </details>


        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Productos y Materias Primas</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row my-2 h-100">
                    <div class="col-6">
                        <a href="{{url_for('categoria_producto.index')}}"
                           class="btn btn-primary d-block h-100">
                            Categoría de productos
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('producto.index')}}"
                           class="btn btn-primary d-block h-100">
                            Productos
                        </a>
                    </div>
                </div>

                <div class="row my-2 h-100">
                    <div class="col-6">
                        <a href="{{url_for('categoria_materia_prima.index')}}"
                           class="btn btn-primary d-block h-100">
                            Categoría de Materia Prima
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('materia_prima.index')}}"
                           class="btn btn-primary d-block h-100">
                            Materia Prima
                        </a>
                    </div>
                </div>

            </div>
        </details>


        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Catálogos generales</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row my-2 h-100">
                    <div class="col-6">
                        <a href="{{url_for('lugar.index')}}"
                           class="btn btn-primary btn-block d-block h-100">
                            Lugares
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('bodega.index')}}"
                           class="btn btn-primary btn-block d-block h-100">
                            Bodegas
                        </a>
                    </div>
                </div>
                <div class="row my-2 h-100">
                    <div class="col-6">
                        <a href="{{url_for('tipo_unidad.index')}}"
                           class="btn btn-primary d-block h-100">
                            Tipos de unidades
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('unidad.index')}}"
                           class="btn btn-primary d-block h-100">
                            Unidades
                        </a>
                    </div>
                </div>
            </div>
        </details>
    </div>

    {% else %}
    <p class="lead text-bg-danger text-black">Debe ingresar para ver opciones</p>
    {% endif %}

</div>
{% endblock %}