{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container-sm text-center">
    <h1 class="display-2">MRP II0703</h1>
    <h2 class="display-5">Planificación de los requerimientos de material</h2>

    <p class="lead display-7">Ingeniería de Operaciones</p>

    <hr class="my-4">
    {% if g.user %}
    <div class="accordion border-bottom-0">
        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Unidades</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row">
                    <div class="col-6">
                        <a href="{{url_for('tipo_unidad.index')}}"
                           class="btn btn-primary d-block">
                            Tipos de unidades
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('unidad.index')}}"
                           class="btn btn-primary d-block">
                            Unidades
                        </a>
                    </div>
                </div>
            </div>
        </details>


        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Productos</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row">

                    <div class="col-6">
                        <a href="{{url_for('categoria_producto.index')}}"
                           class="btn btn-primary d-block">
                            Categoría de productos
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{url_for('producto.index')}}"
                           class="btn btn-primary btn-block d-block">
                            Productos
                        </a>
                    </div>
                </div>
            </div>
        </details>


        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Proveedor</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row">
                    <div class="col-6">
                        <a href="{{url_for('proveedor.index')}}"
                           class="btn btn-primary btn-block d-block">
                            Proveedores
                        </a>
                    </div>
                </div>
            </div>
        </details>


        <details class="accordion-item border-bottom-0">
            <summary class="accordion-button rounded-top">
                <div class="accordion-header user-select-none"><h3>Catálogos generales</h3></div>
            </summary>
            <div class="accordion-body border-bottom">
                <div class="row">
                    <div class="col-6">
                        <a href="{{url_for('lugar.index')}}"
                           class="btn btn-primary btn-block d-block">
                            Lugares
                        </a>
                    </div>
                </div>
            </div>
        </details>
    </div>

    {% else %}
    <p class="lead text-bg-danger text-black">Debe ingresar para ver opciones</p>
    {% endif %}

</div>
{% endblock %}