{% extends 'base.html' %}

{% block content %}

<section class="container-sm">
    <h3 class="text-center mt-3 mb-3">{% block title %}Eliminar Unidad{% endblock %}</h3>
    <h4 class="text-center mt-4 mb-4">¿Desea eliminar {{ dato.nombre }} ?</h4>
    <form action="" method="post">

        <div class="text-center">
            <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-primary btn-danger"
                   value="Si, eliminar {{ dato.nombre }}">
            <a href="{{ url_for('unidad.view',id=dato.id)}}" class="btn btn-secondary">
                Conservar {{ dato.nombre }}
            </a>
            </div>
        </div>
    </form>
</section>
{% endblock%}