{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<section class="container-fluid">
    <nav class="navbar">
        <h1>{% block title %}Lista de Unidades{% endblock %}</h1>
        <a href="{{url_for('unidad.create')}}" class="btn btn-success">Nuevo</a>
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th class="col">Símbolo</th>
            <th class="col">Nombre</th>
            <th class="col" colspan="2">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for dato in datos | reverse %}
        <tr>
            <td>
                <h5>{{dato.simbolo}}</h5>
            </td>
            <td>
                <p>{{dato.nombre}}</p>
            </td>
            <td>
                <a href="{{url_for('unidad.update', id = dato.id)}}"
                   class="btn btn-info btn-sm mt-1">Editar</a>
                <br>
                <a href="{{url_for('unidad.delete', id = dato.id)}}"
                   class="btn btn-danger btn-sm mt-1">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{{macros.render_pagination(datos,'unidad.index')}}


</section>


{% endblock%}