{% extends 'base.html' %}

{% block content %}

<section class="container-sm">
    <h3 class="text-center mt-3 mb-3">{% block title %}Ingresar Producto{% endblock %}</h3>
    <form action="" method="post" class="form-inline">
        <div class="form-group row my-2">
            <div class="col-3">
                <label for="sku" class="col-3">Código</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control col-9" id="sku" name="sku" required maxlength="13">
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="categoria-producto">Categoría de producto</label>
            </div>
            <div class="col-9">
                <select class="form-select form-select-sm mb-3" id="categoria-producto" name="categoria-producto">
                    {%for categoria_producto in categorias_producto%}
                    <option value="{{categoria_producto.id}}"> {{categoria_producto.nombre}}
                    </option>
                    {%endfor%}
                </select>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="nombre">Nombre</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" id="nombre" name="nombre" required maxlength="100">
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="unidad">Unidad</label>
            </div>
            <div class="col-9">
                <select class="form-select form-select-sm mb-3" id="unidad" name="unidad">
                    {%for unidad in unidades%}
                    <option value="{{unidad.id}}">
                        {{unidad.nombre}}
                    </option>
                    {%endfor%}
                </select>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="cantidad-total">Cantidad</label>
            </div>
            <div class="col-9">
                <input type="number" class="form-control" id="cantidad-total" name="cantidad-total" required>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="costo">Costo</label>
            </div>
            <div class="col-9">
                <input type="number" class="form-control" id="costo" name="costo" required>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="porcentaje-impuesto">Porcentaje impuesto (100% -> 100)</label>
            </div>
            <div class="col-9">
                <input type="number" class="form-control" id="porcentaje-impuesto" name="porcentaje-impuesto" required>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="redondeo">Factor de redondeo</label>
            </div>
            <div class="col-9">
                <input type="number" class="form-control" id="redondeo" name="redondeo" required>
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
                <label for="redondeo">Modo de cálculo de utilidad</label>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <input type="radio" class="btn-check"
                               name="modo-utilidad"
                               id="modo-utilidad-porcentaje-utilidad"
                               autocomplete="off"
                               value="porcentaje" checked>
                        <label class="btn d-block" for="modo-utilidad-porcentaje-utilidad">Porcentaje utilidad</label>
                    </div>
                    <div class="col">
                        <label for="utilidad-porcentaje">Porcentaje de utilidad (100% -> 100)</label>
                    </div>
                    <div class="col">

                        <input type="number" class="form-control"
                               id="utilidad-porcentaje" name="utilidad-porcentaje"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" class="btn-check"
                               name="modo-utilidad"
                               id="modo-utilidad-monto-utilidad"
                               autocomplete="off"
                               value="monto">
                        <label class="btn  d-block"
                               for="modo-utilidad-monto-utilidad">Monto utilidad</label>
                    </div>
                    <div class="col">
                <label for="utilidad-monto">Monto de Utilidad</label>
                    </div>
                    <div class="col">
                <input type="number" class="form-control"
                       id="utilidad-monto" name="utilidad-monto"
                       required>
                    </div>
                </div>


            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-3">
            <label class="form-check-label" for="esta-activo">Estado</label>
            </div>
            <div class="col-9">
            <input class="form-check-input" type="checkbox" role="switch"
                   id="esta-activo" name="esta-activo">
            <label class="form-check-label" for="esta-activo">Activo</label>
            </div>
        </div>


        <div class="form-group row my-2">
            <div class="col text-center">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a href="{{ url_for('producto.index')}}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>

</section>
{% endblock%}