{% extends 'base.html' %}

{% block content %}

<div class="container-sm mt-5">
    <h2>Detalle de {{dato.nombre}}</h2>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <div class="row">
                    <dt class="col-sm-5">
                        SKU
                    </dt>
                    <dd class="col-sm-7">
                        {{dato.SKU}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Nombre
                    </dt>
                    <dd class="col-sm-7">
                        {{dato.nombre}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Estado
                    </dt>
                    <dd class="col-sm-7">
                        {%if dato.esta_activo %}
                        <span class="text-success">Activo</span>
                        {%else%}
                        <span class="text-danger">Inactivo</span>
                        {%endif%}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Categoría
                    </dt>
                    <dd class="col-sm-7">
                        <a class="btn btn-light d-block my-1"
                           href="{{url_for('categoria_producto.view', id = dato.categoria_producto.id)}}">
                            {{dato.categoria_producto.nombre}}
                        </a>
                    </dd>
                </div>

                <!--
                                <div class="row">
                                    <dt class="col-sm-5">

                                    </dt>
                                    <dd class="col-sm-7">

                                    </dd>
                                </div>
                -->
            </dl>
            <!--      <img src="producto.jpg" class="img-fluid" alt="Producto">-->
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <a class="btn btn-info d-block my-1"
                       href="{{url_for('producto.update', id = dato.id)}}">Editar</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-danger d-block my-1"
                       href="{{url_for('producto.delete', id = dato.id)}}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h3>Detalle extendido</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Cantidad:</strong> {{dato.cantidad_total}}(total) /
                    {{dato.cantidad_disponible}}(disponible) / {{dato.cantidad_reservado}}(reservado) en
                    {{dato.unidad.nombre}}
                </li>
                <li class="list-group-item"><strong>Costo:</strong> {{dato.costo}}</li>
                <li class="list-group-item"><strong>Redondeo del precio:</strong> Múltiplos de {{dato.redondeo}}</li>
                <li class="list-group-item"><strong>Fecha registro:</strong> {{dato.fecha_registro}}</li>
            </ul>
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-center">
            <a class="btn btn-secondary"
               href="{{ url_for('producto.index')}}">
                Regresar al listado
            </a>
        </div>
    </div>
</div>


{% endblock%}