{% extends 'base.html' %}

{% block content %}

<div class="container-sm mt-5">
    <h2>{{producto.nombre}}</h2>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <div class="row">
                    <dt class="col-sm-5">
                        Código
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.sku}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Categoría de producto
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.categoria_producto.nombre}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Nombre
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.nombre}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Unidad
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.unidad.nombre}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Cantidad
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.cantidad_total}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Costo
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.costo}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Porcentaje impuesto
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.porcentaje_impuesto}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Factor de redondeo
                    </dt>
                    <dd class="col-sm-7">
                        {{producto.redondeo}}
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-sm-5">
                        Modo de cálculo de utilidad
                    </dt>
                    <dd class="col-sm-7">
                        {% if producto.utilildad_es_porcentaje %} Porcentaje: {{producto.porcentaje_utilidad}}% {%else%}
                        Monto: {{producto.monto_utilidad}} {%endif%}
                    </dd>
                </div>
                <!--                <dt class="col-sm-5">Euismod</dt>-->
                <!--                <dd class="col-sm-7">-->
                <!--                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>-->
                <!--                    <p>Donec id elit non mi porta gravida at eget metus.</p>-->
                <!--                </dd>-->

                <!--                <dt class="col-sm-5">Malesuada porta</dt>-->
                <!--                <dd class="col-sm-7">Etiam porta sem malesuada magna mollis euismod.</dd>-->

                <!--                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>-->
                <!--                <dd class="col-sm-7">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut-->
                <!--                    fermentum massa justo sit amet risus.-->
                <!--                </dd>-->

                <!--                <dt class="col-sm-5">Nesting</dt>-->
                <!--                <dd class="col-sm-7">-->
                <!--                    <dl class="row">-->
                <!--                        <dt class="col-sm-5">Nested definition list</dt>-->
                <!--                        <dd class="col-sm-7">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>-->
                <!--                    </dl>-->
                <!--                </dd>-->
            </dl>
            <!--      <img src="producto.jpg" class="img-fluid" alt="Producto">-->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!--    <div class="row mt-4">-->
    <!--        <div class="col">-->
    <!--            <h3>Detalles del Producto</h3>-->
    <!--            <ul class="list-group">-->
    <!--                <li class="list-group-item"><strong>Material:</strong> Plástico</li>-->
    <!--                <li class="list-group-item"><strong>Dimensiones:</strong> 10cm x 5cm x 3cm</li>-->
    <!--                <li class="list-group-item"><strong>Peso:</strong> 200g</li>-->
    <!--                <li class="list-group-item"><strong>Color:</strong> Negro</li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
</div>


{% endblock%}